# Ignorar *.txt en carpeta ignorar:
carpeta_a_ignorar/*.txt
# Ignorar *.pdf en carpeta pdfs/ignorar:
pdfs/ignorar/*.pdf
# Ignorar Archivo .env:
*.env
# Ignorar Carpetas venv y node_modules:
venv/*
node_modules/*
